<%- include('../layouts/main.ejs') %>
<body>
    <div class="block mx-auto my-12 p-8 bg-white w-1/2 border border-gray-200 rounded-lg shadow-lg text-gray-800"> 
        <form class="mt-4" method="POST">
          <div>    
              <!-- Buscar por placa: <input type="text" name="buscarPlaca" id="mi_buscarPlaca" class="border border-gray-200 w-1/5 text-lg placeholder-gray-500 p-2 my-2
              bg-gray-200 focus:bg-white"> 
              <a href="/consulta" class="rounded-md bg-blue-500 w-full text-lg text-white
                    font-semibold p-2 my-3 hover:bg-blue-600 focus:bg-blue-700">Buscar por placa</a><br><br>

              Buscar por No. Serie <input type="text" name="buscarSerie" id="mi_buscarSerie" class="border border-gray-200 w-1/5 text-lg placeholder-gray-500 p-2 my-2
              bg-gray-200 focus:bg-white">               
              <a href="/consulta" class="rounded-md bg-blue-500 w-full text-lg text-white
              font-semibold p-2 my-3 hover:bg-blue-600 focus:bg-blue-700">Buscar por No. Serie</a>

                <a href="/consulta" class="rounded-md bg-blue-500 w-full text-lg text-white
                    font-semibold p-2 my-3 hover:bg-blue-600 focus:bg-blue-700">Mostrar todos</a> -->
                
            </div>            
        </form>
        <!-- Lugar en la pagina Web dinde se colocara la tabla con los datos de la BD  --> 
        <!-- div id="txtHint" class="centrardiv"><b>[ La informacion de los vehiculos se mostrara aqui ]</b></div --> 
        
        <div class="">
          <% 
            if(table != false){ %>              
              <table class="block mx-auto my-12  bg-white w-4/4 border  rounded-lg  text-gray-800 border-collapse">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">placa</th>
                <th scope="col">tipo</th>
                <th scope="col">marca</th>
                <th scope="col">modelo</th>
                <th scope="col">version</th>
                <th scope="col">numeroSerie</th>
                <th width="200px">Action</th>
             
              </tr>
            </thead>
            <tbody>
              <% if(data.length ){
             
              for(let  i = 0; i< data.length; i++) {%>
              <tr>
                <th scope="row"><%= (i+1) %></th>
                <td><%= data[i].placa%></td>
                <td><%= data[i].tipo%></td>
                <td><%= data[i].marca%></td>
                <td><%= data[i].modelo%></td>
                <td><%= data[i].versionModelo%></td>
                <td><%= data[i].numeroSerie%></td>                
              </tr>
              <% }
            
               }else{ %>
                   <tr>
                      <td colspan="3">No user</td>
                   </tr>
                <% } %>
            
            </tbody>
            </table>
            <% }
            else{ %>
              <div id="txtHint"><b>[ La informacion de los vehiculos se mostrara aqui ]</b></div>
           <% } %>
        </div>
        
    </div>
   
<%- include('../layouts/end.ejs') %></form>