<%- include('../layouts/main.ejs') %>
<body>
    <div class="block mx-auto my-12 p-8 bg-white w-3/4 border border-gray-200 rounded-lg shadow-lg text-gray-800"> 
        <form class="mt-4">
            Buscar por placa: <input type="text" name="buscarPlaca" id="mi_buscarPlaca" class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2
            bg-gray-200 focus:bg-white"> <br><br>
            Buscar por No. Serie <input type="text" name="buscarSerie" id="mi_buscarSerie" class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2
            bg-gray-200 focus:bg-white"><br><br>
            <div>
                <button type="submit" value="" class="rounded-md bg-blue-500 w-full text-lg text-white
                font-semibold p-2 my-3 hover:bg-blue-600 focus:bg-blue-700">Buscar por placa</button>
                <button type="submit" value="" class="rounded-md bg-blue-500 w-full text-lg text-white
                font-semibold p-2 my-3 hover:bg-blue-600 focus:bg-blue-700">Buscar por no. serie</button>
            </div>            
        </form>
        <!-- Lugar en la pagina Web dinde se colocara la tabla con los datos de la BD  --> 
        <!-- div id="txtHint" class="centrardiv"><b>[ La informacion de los vehiculos se mostrara aqui ]</b></div --> 
        
        <div>
            <% data != undefined ? %>
              <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">placa</th>
                <th scope="col">tipo</th>
                <th scope="col">marca</th>
                <th scope="col">modelo</th>
                <th scope="col">version</th>
                <th scope="col">numeroSerie</th>
                <th width="200px">Action</th>
             
              </tr>
            </thead>
            <tbody>
              <% if(data.length){
             
              for(let i of data) {%>
              <tr>
                <th scope="row"><%= (i+1) %></th>
                <td><%= data[i].placa%></td>
                <td><%= data[i].tipo%></td>
                <td><%= data[i].marca%></td>
                <td><%= data[i].modelo%></td>
                <td><%= data[i].versionModelo%></td>
                <td><%= data[i].numeroSerie%></td>
                <td>
                <a class="btn btn-success edit" href="../users/edit/<%=data[i].id%>">Edit</a>
               </td>
              </tr>
              <% }
            
               }else{ %>
                   <tr>
                      <td colspan="3">No user</td>
                   </tr>
                <% } %>
            
            </tbody>
            </table>
            <% : %>
            <div id="txtHint" class="centrardiv"><b>[ La informacion de los vehiculos se mostrara aqui ]</b></div>|
        </div>
        
    </div>
   
<%- include('../layouts/end.ejs') %>